{% extends "cert-base.html" %}
{% block "head" %}
	{{  block.super }}
	<script type="text/javascript" >
	    var loader = "<img src ={{STATIC_URL}}loaders/throbber.gif />";
		function csrfSaveMethod( method )
		{
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		function setupAjax( questionId )
		{
			if (questionId == 0){
				var csrf = $("#csrf").val();
			}else{
				var csrf = $("#csrf-"+questionId).val();
			}
			$.ajaxSetup({
				crossdomain : false,
				beforeSend : function(xhr, settings){
					if(!csrfSaveMethod(settings.type)){
						xhr.setRequestHeader("X-CSRFToken", csrf);	
					}
				}	
			});
		}

		$(document).ready(function(){
			$(".english-level").change(function(event){
				var id = event.target.id;
				setLevel(id);				
			});
			$(".turkish-level").change(function(event){
				var id = event.target.id;
				setLevel(id);				
			});

			$(".edit-name").click(function(event){

				var id = event.target.id;
				$("#"+id).hide();
				editNameSurname(id);
			});
			$(".edit-surname").click(function(event){
				var id = event.target.id;
				$("#"+id).hide();
				editNameSurname(id);
			});
		});
		function editNameSurname(id)
		{
			var nameOrSurname= $("#edit-"+id).html();
			var htmlText = "<textarea id ='new-"+id+"' >"+nameOrSurname+"</textarea>";
			htmlText +="<br><button onclick=savename('"+id+"')>save</button>";
			$("#edit-"+id).html(htmlText);
		}
		function savename(id)
		{
			setupAjax(0);
			var newName = $("#new-"+id).val();
			var url = "{% url 'update_name_surname' %}";
			$.post( url, {"student-id":id ,"name-surname": newName },
			function(data)
			{
		//		alert(data);
				$("#edit-"+id).html(newName);
				$("#"+id).show();
			} ,"json" );
		}

		function setLevel(id)
		{
			setupAjax(0);
			var type = $("#language-type").val();
			var studentId = id;
			var level = $("#"+studentId).val();
			//student id, level, type

			$("#loader-"+studentId).html(loader);	
			//alert(loader);
			var url = "{% url 'set_level' %}";
			$.post( url, {"student-id":studentId ,"level": level,"type": type },
				function(data)
				{
					if ( data.success ){

						var value = parseInt($("#"+type+"-"+"certified").html());	value +=1;	
						$("#"+type+"-"+"certified").html(value);

						$("#loader-"+studentId).html("<b>saved</b>");	
						$("#loader-"+studentId).css("color","green");	
					}else{
						$("#loader-"+studentId).html("<b>error</b>");	
						$("#loader-"+studentId).css("color","red");	
					}
				} ,"json" );
		}
	</script>
{% endblock %}
{% block "body" %}
<br>
		<div class="alert alert-error" style="width:800px">Please read following text!
		<br>
		<strong style="color:black">1. Check student name and surname for turkish alphabet letters. Name written by turkish letter will view corrupted on certificate,  You can edit name or surname by clicking <i class="icon-edit"></i>&nbsp;icon.<br>
		2. Set student`s language level(<em>advanced, upperintermediate.. </em>) for english and for turkish.<br>
		3. Student whose language level(<em>for english and turkish</em>) not set, will not be printed.
		</strong><br>
		</div>

		<input type="hidden" id="csrf" value={{csrf_token}} />
		<input type="hidden" id="language-type" value={{ type }} />
		{% ifequal type "english" %}
			<a href={% url "printen" %} class="btn" >Generate Certificates (<span id="english-certified">{{certified}}</span>)</a>
		{% endifequal %}
		{% ifequal type "turkish" %}
			<a href={% url "printtr" %} class="btn" >Generate Certificates (<span id="turkish-certified">{{certified}}</span>)</a>
		{% endifequal %}
		{% ifequal type "computer" %}
			<a href={% url "printcmp" %} class="btn" >Generate Certificates ({{ students|length }})</a>
		{% endifequal %}
		<br>
		<br>
		<b>Number of students - {{ students|length }}</b>
		<table class="table">
			<thead><tr><td>#</td><td>student-id</td><td>Name</td><td>Surname</td><td>Level&nbsp;&nbsp;(Must be set)</td><td>Status</td></tr></thead>
			<tbody>
			{% for student in students %}
			<tr>
				<td>{{ forloop.counter }}.</td>
				<td>{{ student.student_id }}</td>

			<td>	
				<span id="edit-name-{{ student.student_id }}">{{ student.en_name }}</span>
				&nbsp;&nbsp;
				<a href="javascript:void(0)" class="edit-name">
				<i class = "icon-edit"  id="name-{{ student.student_id }}"></i>
				</a>
			</td>

			<td >
				<span id="edit-surname-{{ student.student_id }}">{{ student.en_surname }}</span>
				&nbsp;&nbsp;
				<a href="javascript:void(0)" class="edit-surname">
					<i class = "icon-edit"  id="surname-{{ student.student_id }}"></i>
				</a>
			</td>
			<td>
					{% if type == "english" %}
						<select class="english-level" id="{{ student.student_id }}" >
							<option value=0 >-------</option>
							{% for lvl in level %}
								{% ifequal lvl.id student.knowledgelevel %}
									<option value="{{ lvl.id }}" selected>{{ lvl.name }}</option>
								{% else %}
									<option value="{{ lvl.id }}" >{{ lvl.name }}</option>
								{% endifequal %}	
							{% endfor %}	
						</select>
					{% elif type == "turkish"  %}
						<select class="turkish-level" id="{{ student.student_id }}"  >
							<option value=0 >----{{student.knowledgelevel}}---</option>
							{% for lvl in level %}
								{% ifequal lvl.id student.knowledgelevel %}
									<option value="{{ lvl.id }}" selected>{{ lvl.name }}</option>
								{% else %}
									<option value="{{ lvl.id }}" >{{ lvl.name }}</option>
								{% endifequal %}	
							{% endfor %}	
						</select>
					{% endif %}
				</td>
				<td><span id="loader-{{ student.student_id }}"></span></td>
			</tr>
			{% endfor %}
			<tbody>
			<tfoot><tr><td>#</td><td>student-id</td><td>Name</td><td>Surname</td><td>Level&nbsp;&nbsp;(Must be set)</td><td>Status</td></tr></tfoot>
		</table>
{% endblock %}	
