{% extends "quiz-base.html" %}

{% block "head" %}
		<script type="text/javascript" src ="{{ STATIC_URL }}js/jquery-1.9.0.min.js" ></script>
		<script type="text/javascript" src ="{{ STATIC_URL }}js/online-quiz.js" ></script>
		<script type="text/javascript">
			function step(stepType)
			{
				if (/^(next|skip|previous)$/.test(stepType))
				{
					//disable all buttons to prevent from double click	
			        disableAllButtons();
					setupAjax();
					{% if quiz_id and tracker_id %}
						var url = "{% url 'run_online' quiz_id tracker_id %}";
					{% endif %}	

//					var answer = getAnswers();
					var answer = JSON.stringify(getAnswers());
					var quesionId = $("#question-id").val();
					var cQuest = $("#order").val();

					//answer//current question//step	
					$.post( url, { "answer" : answer , "order":cQuest, "step": stepType, "question-id" : quesionId }, 
						function(data)
						{
							if( data.disable_button == "outofbound" ) {
								// show result and link to analyze exam questions
								html = data.time_spent+"<h3>Result : "+data.result+" %</h3>";
								html +="<h3>Number of questions : "+data.number_of_questions+"</h3>";
								{% if quiz_id and tracker_id %}
								html +="<a href={% url 'result_show' quiz_id tracker_id %} >Analyze</a>";
								{% endif %}
								$("#main-panel").html(html);		

							} else {
								enableButtonsAndPrintError();
								//data.disable_button == "next" || 
								if ( data.disable_button == "previous"){
									//alert("asfasf");
									disableMe(data.disable_button);
								}

								$("#question-variants").html("");
								for( var i = 0; i < data.variants.length; i ++ )
								{
html = i+1;
html += ".<input  type='checkbox' value="+data.variant_ids[i]+" name =checkbox_values "+data.checked_variants[i]+" />";
html += data.variants[i]+"<hr>";	
									$("#question-variants").append(html);
								}

								//Will not be used
								$("#active-question").html(data.current_question+"/"+data.total_qnum);
								$("#order").attr( "value", data.current_question );
								$("#question-id").attr( "value", data.id );

								$("#id-and-question").html(data.id+" - "+data.question);
							}	
						}, "json");
				}
			}

			function csrfSaveMethod( method ){
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			function setupAjax()
			{
				var csrf = $("#csrf").val();
				$.ajaxSetup({
					crossdomain:false,
					beforeSend : function(xhr, settings){
							if(!csrfSaveMethod(settings.type)){
								xhr.setRequestHeader("X-CSRFToken", csrf );
							}			
					}
				})
			}
		</script>
		<style type="text/css">
			.dis{
				disabled:disabled;
			}
		</style>
{% endblock %}		

{% block "body" %}
	{% if list %}
		Wanna random quiz <a href = {% url 'random' %}>click me</a>
		{% for quiz in list %}
			{% ifequal quiz.name '123' %}

				<p>{{forloop.counter}}.&nbsp;{{ quiz.name }}&nbsp;&nbsp;{{ quiz.number_of_questions }}&nbsp;question(s)</p>
				<a href="{% url 'start_online' quiz.id %}">start</a><hr>

			{% else %}	
				<p>{{forloop.counter}}.&nbsp;no name&nbsp;&nbsp;{{ quiz.number_of_questions }}&nbsp;question(s)</p>
				<a href="{% url 'start_online' quiz.id %}">start</a><hr>
			{% endifequal %}
		{% endfor %}

	{% else %}
		<input type="hidden" id="csrf" value = {{ csrf_token }} />

		<input type="hidden" id="order" value = {{ current_question }} />
		<input type="hidden" id="question-id" value = {{ id }} />

		<h2>{{ start_date }}</h2>
		<label>tracker:{{ tracker_id }}</label><br>
		active question:<label id="active-question">{{ current_question }}</label>
		<br>
		<h1 id = "results"></h1>
		<div id = "main-panel">
			<h3 id ="id-and-question">{{ id }} - {{ question|safe }}</h3>
			<div id="question-variants">
				{% for variant in variants %}
					{{ forloop.counter }}.<input type="checkbox" name ="checkbox_values" value= {{ variant.id}} {{ variant.checked }} />{{ variant.name|safe }}<hr>
				{% endfor %}
			</div>	
			{% ifnotequal current_question 1 %}
				<button id="previous" onclick="step('previous')" >prev</button>
			{% else %}	
				<button id="previous" disabled onclick="step('previous')" >prev</button>
			{% endifnotequal %}					
			<button id="next" onclick="step('next')" >next</button>				
		</div>	
	{% endif %}
{% endblock %}
